.auth-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

  .heading {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
  }

  .subheading {
    font-size: 15px;
    font-weight: 400;
    color: gray;
  }

  .auth-inner-container {
    width: 500px;
    margin: auto;
  }
}
